/*Variables & Mixins dans le dossier abstracts*/
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, body {
    font-size: 15px;
    font-family: "Roboto", Verdana, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: $green-bgd-color;
    width: 100%;
    min-height: 7vh;
    display: flex;
    justify-content: space-around;
}