/*Variables & Mixins dans le dossier abstracts*/
@import 'abstracts/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, body {
    font-size: 15px;
    font-family: "Roboto", Verdana, Helvetica, sans-serif;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.header {
    background-color: $green-bgd-color;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*Barre de navigation*/
.header__navbar {
    margin-left: 10rem;
    display: flex;
    li {
        padding: 2rem;
        a {
            color: $white-color;
        }
    }
}
/*Search bar*/
.header__searchbar {
    margin-left: 4rem;
    display: flex;
    img {
        margin-left: 4rem;
    }
}
.header__searchbar--elements-search {
    color: $white-color;
    width: 130%;
    border: 1px solid $white-color;
    border-width: 0 0 1px;
    background-color: transparent;
}
.header__searchbar--elements-search:focus {
    color: $white-color;
    border-color: $white-color;
    outline: none;
}
input::placeholder {
    color: rgba(255, 255, 255, .5);
}
/*Partie utilisateur*/
.header__user {
    position: absolute;
    background-color: rgba(76, 119, 76, 1);
    width: 200px;
    height: 100px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
        color: $white-color;
        font-size: 11px;
        padding: .3rem;
    }
}
/*Main:*/
.main__container {
    background-color: rgba(240, 240, 240, 1);
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Main: bannière*/
.banner__part {
    width: 100%;
    .banner__title {
        background-color: $green-bgd-color;
        text-align: center;
        margin-top: 1rem;
        padding: .4rem;
        h1 {
            color: $white-color;
            font-weight: 400;
        }
    }
}
.banner__navbar {
    display: flex;
    background-color: $white-color;
    padding: .8rem;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, .1);
    span {
        margin-left: 5rem;
    }
}
.banner__navbar ul {
    display: flex;
    a {
        font-size: 12px;
        color: rgba(0, 0, 0, 1);
        margin-left: 6rem;
        padding: .5rem;
    }
}
.banner__navbar li:first-child {
    font-weight: 800;
    text-decoration: underline;
}
.banner__navbar a:hover {
  background-color: rgba(225, 225, 225, 1); 
  border-radius: 50px;
}
/*Main: formulaires du haut*/
.main__content {
    width: 100%;
}
.forms__part {
    margin-top: 1rem;
    display: flex;
    form {
        margin: .5rem;
        display: flex;
        flex-direction: column;
    }
    label {
        color: $white-color;
        background-color: $green-bgd-color;
        padding: .5rem;
        border-radius: 10px 10px 0 0;
        text-align: center;
    }
}
.forms__part input {
    padding: .5rem;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, .1);
    border: none;
}
.forms__part form:nth-child(1)  {
    width: 32%;
}
.forms__part form:nth-child(2),
.forms__part form:nth-child(3)  {
    height: 2rem;
    width: 100%;
}
.btn__add button {
    margin: .2rem;
    border: none;
    cursor: pointer;
}
/*Main: tableau*/
.table {
    width: 96%;
    margin: 1rem 0 0 .5rem;
    border-collapse: collapse;
    thead {
        color: $white-color;
        background-color: $green-bgd-color;
        th {
            font-weight: 400;
        }
    }
}
.table th:nth-child(1) {
    width: 180px;
    height: 2rem;
}
.table th:nth-child(2),
.table th:nth-child(3) {
    width: 660px;
    height: 2rem;
}
.table tbody td {
    padding: .2rem;
    border-right: 1px solid rgba(0, 0, 0, 1);
}
.table tbody td:last-child {
    border: none;
}
.table tbody > tr:nth-child(odd) {
    background-color: $white-color;
}
.table tbody > tr:nth-child(even) {
    background-color: rgba(232, 232, 232, 1);
}
.table tbody > tr:nth-child(odd):hover,
.table tbody > tr:nth-child(even):hover {
    background-color: rgba(203, 221, 197, 1);
}
.table tbody > tr:hover .table-edit-icon,
.table tbody > tr:hover .table-trash-icon {
    background-color: rgba(203, 221, 197, 1);
    visibility: visible;
}
.table-edit-icon {
    margin-left: 35rem;
    visibility: hidden;
}
.table-trash-icon {
    margin-left: 2rem;
    visibility: hidden;
}
/*Footer*/
.footer {
    background-color: rgba(240, 240, 240, 1);
    bottom: 0;
    display: flex;
    justify-content: center;
    ul {
        display: flex;
        li {
            margin: 0 .5rem 1rem;
            padding-right: 1rem;
            border-right: 2px solid rgba(0, 0, 0, 1);
            a {
                font-size: 12px;
                color: rgba(0, 0, 0, 1);
            }
        }
    }
}
.footer li:last-child {
    border: none;
}
.footer a:hover {
    font-weight: 500;
}